@media screen and (max-width: $mobile-max) {
    @for $var from 0 through $padding-max {
        @if $var % 5 == 0 {
            .mob-p-#{$var} { 
                padding: #{$var}px !important;
            }
            .mob-pt-#{$var} { 
                padding-top: #{$var}px !important;
            }
            .mob-pr-#{$var} { 
                padding-right: #{$var}px !important;
            }
            .mob-pb-#{$var} { 
                padding-bottom: #{$var}px !important;
            }
            .mob-pl-#{$var} { 
                padding-left: #{$var}px !important;
            }
            .mob-px-#{$var} { 
                padding-top: #{$var}px !important;
                padding-bottom: #{$var}px !important;
            }
            .mob-py-#{$var} { 
                padding-right: #{$var}px !important;
                padding-left: #{$var}px !important;
            }
        }
    }
}