{
    "send": {
        "email": "xxx",
        "password": "xxx"
    },
    "upload": {
        "host": "xxx",
        "user": "xxx",
        "password": "xxx",
        "base_path": "xxx",
        "public_url": "xxx"
    },
    "clean": {
        "opts": {}
    }
}