<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
        <meta name="x-apple-disable-message-reformatting">

        <!-- Dark mode meta tags - remove unless adding Dark mode CSS -->
        <meta name="color-scheme" content="light dark">
        <meta name="supported-color-schemes" content="light dark">

        <!--Built in London by the ActionRocket team - @ActionRocket -->
        <title>{{data.title}}</title>
        <link rel="stylesheet" href="css/inline.css">
        
        <style>
            {% include '../../build/css/reset.css' %}
        </style>
        {% for key, value in css %}
            {% if key != 'inline' and key != 'reset' %}
                <style>
                    {% include '../../build/' + value %}
                </style>
            {% endif %}
        {% endfor %}

        <!--[if mso]> 
        <noscript>
            <xml>
                <o:OfficeDocumentSettings>
                    <o:PixelsPerInch>96</o:PixelsPerInch> 
                </o:OfficeDocumentSettings>
            </xml>
        </noscript>
        <![endif]-->
    </head>
    <body class="body" xml:lang="en">
        <div role="article" aria-roledescription="email" aria-label="{{data.title}}" lang="en" dir="ltr" style="font-size:medium; font-size:max(16px, 1rem)">
            {% block content %}
                Content goes here
            {% endblock %}
        </div>
    </body>

</html>