.button-1 {
    background-color: $color-2;
    //border: 1px solid $color-2;
    //border-radius: 0;
    td {
        @extend .text-sm;
        color: $color-white;
        text-align: center;
        width: 100%;
        padding: 10px 35px;
        a {
            text-decoration: none;
            color: $color-white;
        }
    }
}