<!-- full-width image -->
<table role="none" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #f3f3f3;">
    <tr>
        <td align="center">
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #e00f41">
                <tr>
                    <td align="left" class="mobpad" style="padding: 30px 80px;">
                        <table border="0" cellspacing="0" cellpadding="0" role="none" width="100%">
                            <tr>
                                <td class="w100pc txt-center" align="left">
                                    <span style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 300; margin: 0; color: #ffffff;">
                                        #Spring Edition // theme of newletter
                                    </span>
                                </td>
                                <td class="nomob" align="right">
                                    <a href="#" style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 300; margin: 0; color: #ffffff; text-decoration: underline;">
                                        View Online
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #000000">
                <tr>
                    <td align="center" class="mobpad" style="padding: 30px 80px;">
                        <table border="0" cellspacing="0" cellpadding="0" role="none">
                            <tr>
                                <th class="colsplit" align="center">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/96x96" width="48" style="display: block">
                                    </a>
                                </th>
                                <th class="colsplit" style="width: 24px; height: 18px;">&nbsp;</th>
                                <th class="colsplit" align="center">
                                    <h1 style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-size: 34px; line-height: 34px; font-weight: bold; letter-spacing: 3px; margin: 0; color: #ffffff; text-transform: uppercase;">
                                        Behind the Screens
                                    </h1>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>