<!-- full-width image -->
<table role="none" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #f3f3f3;">
    <tr>
        <td align="center">
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #000000">
                <tr>
                    <td align="center" class="nomobpad" style="padding: 0 80px;">
                        <a href="#">
                            <img src="https://via.placeholder.com/1280x1000" width="640" style="display: block;" class="nomob" alt="ActionRocket">
                            <!--[if !mso]><!-->
                                <img src="https://via.placeholder.com/1280x1000" width="640" style="display: none;" class="show w100pc" alt="ActionRocket">
                            <!--<![endif]-->
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>