<!-- full-width image -->
<table role="none" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #f3f3f3;">
    <tr>
        <td align="center">
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #000000">
                <tr>
                    <td align="left" class="mobpad" style="padding: 60px 80px;">
                        <h2 style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-size: 74px; line-height: 74px; font-weight: bold; margin: 0 0 30px; color: #f572a9;" class="font-xl">
                            Welcome!
                        </h2>
                        <p style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px; font-weight: 300; margin: 0; color: #ffffff;">
                            To our first edition of Action Rocket insider. We sre the go-to creative studio for all things digital & CRM.<br><br>

                            It’s what <span style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-weight: bold; color: #f572a9; font-size: 20px;">we Love</span> and it’s what <span style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-weight: bold; color: #f572a9; font-size: 20px;">we do.</span><br><br>

                            You’ll find in here, the cream of the latest digital marketing and CRM industry news, timely must-knows, our freshest and most actionable best practice tips, and the events we’re planning with front row seats bagged for you. Speckled with case studies, new projects and team spotlights, we promise that our ‘behind the screens’ content with purpose will become your staple quarterly edit.<br><br>

                            We know the inbox you see!
                            
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>