<!-- full-width image -->
<table role="none" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #f3f3f3;">
    <tr>
        <td align="center">
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #1b1b1b">
                <tr>
                    <td align="left" class="mobpad" style="padding: 60px 80px;">
                        <img src="https://via.placeholder.com/140x140" alt="" width="70" style="display: block;">
                        <blockquote>
                            <p style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 34px; line-height: 52px; font-weight: normal; margin: 40px 0 20px; color: #ffffff;">
                                Design is not just what it <span style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-weight: bold;">looks like</span> and <span style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-weight: bold;">feels like.</span> Design is <span style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-weight: bold;">how it works.</span>
                            </p>
                            <p style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 26px; font-weight: bold; margin: 0 0 20px; color: #58eabd; text-transform: uppercase; letter-spacing: 2px;">
                                Steve Jobs
                            </p>
                        </blockquote>
                        
                        {% set button_align = "left" %}
                        {% set button_text = "Design FAQs" %}
                        {% set button_style = "button-teal" %}
                        {% include "templates/common/button.njk" %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>