{# <!-- full-width image -->
<table role="none" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #f3f3f3;">
    <tr>
        <td align="center">
            <table class="w100pc outer" role="none" cellpadding="0" cellspacing="0" border="0" style="width: 800px; background-color: #1b1b1b">
                <tr>
                    <td align="left" class="mobpad" style="padding: 60px 80px;">

                            <h2 style="font-family: 'Poppins', Arial, Helvetica, sans-serif; font-size: 30px; line-height: 42px; font-weight: bold; margin: 0 0 10px; color: #fbac30;">On our radar</h2>
                            <p style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 34px; line-height: 52px; font-weight: normal; margin: 0 0 20px; color: #ffffff;">
                                The news we’ve all been waiting for at Action Rocket is in…
                            </p>
                            <h3 style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 34px; line-height: 52px; font-weight: bold; margin: 0 0 10px; color: #ffffff;">Article headline</h3>
                            <p style="font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 34px; line-height: 52px; font-weight: normal; margin: 0 0 30px; color: #ffffff;">Article one line intro</p>
                        
                        {% set button_align = "left" %}
                        {% set button_text = "Read more" %}
                        {% set button_style = "button-orange" %}
                        {% include "templates/common/button.njk" %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> #}